/* h1 {
    color: cadetblue;
}
h2 {
    color: darkslategray;
} */
html {
    font-family: Arial, Helvetica, sans-serif;
    background: #C19875;
}

h1,
h3,
p {
    color: #96BBBB;
}

h2 {
    color: 414535;
}

#featured-products {
    background: #414535;
}

.bold {
    font-weight: 600;
}

#header h1 {
    color: darkslategrey;
}

#banner {
    width: 50vw;
    background: blanchedalmond;
}