/* h1 {
    color: cadetblue;
}
h2 {
    color: darkslategray;
} */
html {
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h3,
p {
    color: rgb(235, 223, 194);
}

h2 {
    color: cadetblue;
}

#featured-products {
    background: sienna;
}

.bold {
    font-weight: 600;
}

#header h1 {
    color: darkslategrey;
}